<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD5A6EDF1EC1A9D1007526EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5A6EF31EC1A9D1007526EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5A6EFE1EC1A9D1007526EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
